1
#pond {
  display: flex;
justify-content: center;
}

22
pond {
  display: flex;
  flex-wrap: wrap;
align-content: flex-end;
}

23
#pond {
  display: flex;
  flex-wrap: wrap;
flex-direction: column-reverse;
align-content: center;
}

24
flex-wrap: wrap-reverse; 
flex-direction: column-reverse; 
justify-content: center; 
align-content: space-between;